* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.div {
  border: 1px solid;
  background-color: red;
  margin: 10px auto;
  width: 50vw;
  height: 50vw;
  text-align: center;
  color: white;
  font-size: 20pt;
}

#div1:hover {
  transform: translateX(20px);
}

#div2:hover {
  transform: translateY(20px);
}

#div3:hover {
  transform: translate(20px, 20px);
}

#div4:hover {
  transform: rotate(-20deg);
}

#div5:hover {
  transform: rotate(20deg);
}

#div6:hover {
  transform: scale(2, 1.5);
}

#div7:hover {
  transform: scale(0.5, 0.5);
}

#div8:hover {
  transform: scaleX(1.5);
}

#div9:hover {
  transform: scaleX(0.5);
}

#div10:hover {
  transform: scaleY(1.5);
}

#div11:hover {
  transform: scaleY(0.5);
}

#div12:hover {
  transform: skewX(20deg);
}

#div13:hover {
  transform: skewX(-20deg);
}

#div14:hover {
  transform: skewY(20deg);
}

#div15:hover {
  transform: skewY(-20deg);
}

#div16:hover {
  transform: skew(20deg);
}

#div17:hover {
  transform: translateX(20px);
}